html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }  


.practiceflex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}

img { 
    width: 300px;
    height: 300px;
}

#img-logo {
    height: 200px;
    width: auto;
}

#grad {
    background-image: linear-gradient(to bottom right, lightblue, rgb(0, 140, 255));
}

li {
    list-style-type: none;

  }

  .navigationMenu {
    display: flex;
    padding: 5px;
    font-size: 17px;
  }

  .navigationMenu a {
    text-decoration: none;
    color: black;
    padding-right: 8px;
  }

  .navigationMenu ul{
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: flex-start;
  }